<div class="container">
    <div class="row">
        <div id="logoDiv" class="col-md-2">
            <img src="/assets/views/Drawing.png" alt="logo">
        </div>
        <div id="categoryTitleDiv" class="col-md-6">
            <p>Login</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 headerDiv">
        </div>
    </div>

    <div class="mainBody">
        <form>
            <div class="formDiv">
                <label for="username"><h3>username: </h3></label>
                <input type="text" id="username" name="username" size="50">
            </div>
            <div class="formDiv">
                <label for="password"><h3>password: </h3></label>
                <input type="text" id="password" name="password" size="50">
            </div>
            <div class="formDiv">
                <button ng-click="loginToPlay()" class="buttonClass">Submit</button>
            </div>
        </form>
    </div>

</div>