
    <div class="container">
        <div class="row">
            <div id="logoDiv" class="col-md-2">
                <img src="/assets/views/Drawing.png" alt="logo">
            </div>
            <div id="categoryTitleDiv" class="col-md-6">
                <p>{{catObject.category}}</p>
            </div>
            <div id="pointsDifficultyDiv" class="col-md-2">
                <p>Points <span class="ptsSpan">{{catObject.points}}</span></p>
                <p>Difficulty <span id="diffSpan">{{catObject.difficulty}}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 headerDiv">
            </div>
        </div>
    </div>

    <div class="mainBody">
        <div class="gameDiv row">
            <div id="middle" class="col-md-4 col-md-offset-1">
                <h1 class="animated fadeInLeft">{{catObject.question}}</h1>

                    <button class="buttonClass animated bounceInUp" ng-click="checkAnswers()">Check Order</button><br>

                    <p ng-hide="trueOrFalse" id="showNumberCorrect">{{counter}}/5 are in the correct order</p><br><br>

                    <p ng-hide="showNextArrow">inOrder Success!</p>
                    <p ng-hide="showNextArrow" id="showNextArrow">Next Question<img src="assets/views/nextarrow.png" alt="next arrow"</p>

            </div>

            <div class="container-fluid col-md-3">  <!--col-md-offset-1-->
                <ul ng-model="answerArray" as-sortable="sortableOptions">
                    <li ng-repeat="answer in answerArray" as-sortable-item class="as-sortable-item answerBlocks">
                        <div as-sortable-item-handle class="as-sortable-item-handle sortElement" style="height:50px">
                            <span data-ng-bind="answer.ans"></span>
                        </div>
                    </li>
                </ul>
            </div>

        <div class="col-md-2" ng-hide="showNextArrow">
            <ul ng-model="solutionArray">
                <li ng-repeat="solution in solutionArray" class="solutionBlocks animated flipInX">
                    <div class="solutionDiv">
                        <span>{{solution}}</span>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>